@import "./sassvars.scss";

:root {
    --max-content-width: 1000px;
    --content-padding: 20px;
    --content-padding3: 10px;

    --bg-color: #4618ac;
    --bg-color-darker: #1f0a4d;

    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: var(--bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-select {
    user-select: none;         /* Standard */
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
}

@media (min-width: $mobile-breakpoint1) {
    .mobile {
        display: none;
    }
}
@media (max-width: $mobile-breakpoint1) {
    .desktop {
        display: none;
    }
}

@font-face {
  font-family: "metropolis";
  src: url("/fonts/Metropolis-Regular.woff2") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolis";
  src: url("/fonts/Metropolis-Medium.woff2") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolis";
  src: url("/fonts/Metropolis-Bold.woff2") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}



body {
    font: 1.6rem/1.5 "metropolis",Arial,Helvetica,sans-serif;
}
html {
    font-size: 62.5%;
}

html, body {
    width: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}
#root {
    width: 100%;
    height: 100%;
}

#page{
    &.no-scroll {
        overflow: hidden;
    }
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    > *:not(hr) {
        max-width: var(--max-content-width);
        width: 100%;
    }
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid black;
    padding: 0;
    margin: 0;
}

@media (max-width: $mobile-breakpoint3) {
    :root {
        --content-padding: var(--content-padding3);
    }
}
