@import "../app/styles/sassvars.scss";

@mixin mobile() {
    @media (max-width: $mobile-breakpoint1) {
        @content;
    }
}
@mixin desktop() {
    @media (min-width: $mobile-breakpoint1) {
        @content;
    }
}

:root {
    --cashback-color: #63e3c2;
    --gamecard-border: 1px solid var(--cashback-color);
    --gamecard-ratio: 1 / 2.16;
    --gamecard-padding: 15px;
    
    // details
    --details-height: 173px;
    --buttons-height: 95px;
    --details-base-font: 10px;
    --platform-font: 1em;
    --platform-height: 22px;
    --title-region-height: 66px;
    --title-font: 1.2em;
    --region-font: 1.2em;
    --price-font: 1.2em;
    --dprice-font: 2.2em;
    --cashback-font: 1.2em;
    --favcount-font: 1.2em;

    --theme-green: #84e916;
    --theme-gray: #b3aac9;
    --theme-red: #e76b8d;
    --theme-cyan: #4cdfb9;

    @include mobile() {
        --gamecard-padding: 8px;
        --details-height: 158px;
    }
}

.lineclamp2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}
.lineclamp1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

.green {
    color: var(--theme-green);
}
.red {
    color: var(--theme-red);
}
.cyan {
    color: var(--theme-cyan);
}
.gamecard.cashback {
    border: var(--gamecard-border);
}

.gamecard {
    font-family: "metropolis",Arial,Helvetica,sans-serif;
    line-height: 1.5;
    overflow: hidden;
    background-color: var(--bg-color-darker);
    font-size: var(--details-base-font);
    position: relative;

    &:hover {
        .cover .cover-overlay {
            opacity: 1;
        }
    }

    @include desktop() {
        aspect-ratio: var(--gamecard-ratio);
        display: flex;
        flex-direction: column;
        padding-bottom: var(--details-height);

        &:hover {
            .detBtnWrapper {
                transform: translateY(0);
            }
            .favbtn {
                opacity: 1;
                &:hover {
                    .ribbonIcon .ribbon-fill {
                        fill: rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }
    }

    @include mobile() {
        height: calc(var(--details-height) + 2px);
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
    }
}

.gamecard .cover {
    overflow: hidden;
    position: relative;

    @include desktop() {
        width: 100%;
        flex: 1 1 auto; min-height: 0;
    }
    @include mobile() {
        height: 100%;
        width: 100px;
        flex: 0 0 auto;
        padding: var(--gamecard-padding);
        padding-right: 0;
    }

    .cover-overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: all 150ms ease-in-out;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}

.gamecard .detBtnWrapper {
    background-color: var(--bg-color-darker);
    transform: translateY(calc(100% - var(--details-height)));
    transition: transform 300ms ease-in-out;

    @include desktop() {
        width: 100%;
        height: calc(var(--details-height) + var(--buttons-height));
        position: absolute;
        bottom: 0;
    }
    @include mobile() {
        height: 100%;
        flex: 1 0 0;
        position: relative;
        display: flex;
        flex-direction: row;
    }
}

.gamecard .details {
    padding: var(--gamecard-padding);
    display: flex;
    flex-direction: column;
    position: relative;

    @include desktop() {
        width: 100%;
    }
    @include mobile() {
        flex: 1 0 0;
        padding-right: 0;
    }

    .platform {
        position: absolute;
        height: var(--platform-height);
        background-color: rgba(0,0,0,.55);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 0 5px;

        @include desktop() {
            left: 0;
            right: 0;
            top: calc(-1 * var(--platform-height));
        }
        @include mobile() {
            right: 100%;
            left: calc(-100px + var(--gamecard-padding));
            bottom: var(--gamecard-padding);
        }
        img {
            width: 1.6em;
        }
        span {
            font-size: var(--platform-font);
            font-weight: bold;
            line-height: 1;
        }
    }
    .title-region-wrapper {
        min-height: var(--title-region-height);
    }
    .title {
        font-size: var(--title-font);
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 8px;
    }
    .region {
        font-size: var(--region-font);
        font-weight: bold;
        line-height: 1;
        margin-bottom: 10px;
    }
    .price {
        color: var(--theme-gray);
        font-size: var(--price-font);
        font-weight: bold;
        line-height: 1;
    }
    .dprice {
        font-size: var(--dprice-font);
        font-weight: bold;
        line-height: 1;
        margin-top: 5px;
    }
    .cashback {
        font-weight: bold;
        line-height: 1.5;
    }
    .favcount {
        font-size: var(--favcount-font);
        font-weight: medium;
        line-height: 1.5;
        margin-top: 5px;

        color: var(--theme-gray);
        display: flex;
        align-items: center;
        gap: 2.5px;
        .favIcon {
            width: var(--favcount-font);
            color: var(--theme-gray);
        }
    }
}

.gamecard .buttons {
    display: flex;
    flex-direction: column;
    @include desktop() {
        padding: var(--gamecard-padding);
        padding-top: 0;
        gap: 10px;
    }
    @include mobile() {
        flex: 0 0 calc(50px + var(--gamecard-padding));
        padding: var(--gamecard-padding);
        padding-left: 0;
        justify-content: end;
    }

    .cartbtn {
        cursor: pointer;
        color: black;
        font-weight: 800;
        font-size: 1.5em;
        background-color: #fad318;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 150ms ease-in-out;
        @include desktop() {
            height: 35px;
            &:hover {
                background-color: #f0a613;
            }
        }
        @include mobile() {
            background: none;
            width: 100%;
            height: 38px;
            padding: 10px;
            border: 1px solid white;
            font-size: 1em;
            &:hover {
                background-color: rgba(0,0,0,.3);
                border-color: #fad318;
            }
            .cartIcon {
                height: 1.6em;
                color: white;
            }
            .plusIcon {
                width: 1.2em;
                color: white;
            }
        }
    }
    .optbtn {
        cursor: pointer;
        height: 35px;
        color: white;
        font-weight: 800;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        transition: all 150ms ease-in-out;
        @include mobile() {
            display: none;
        }
        &:hover {
            background-color: rgba(0,0,0,.3);
            border-color: #fad318;
        }
    }
}

.gamecard .favbtn {
    position: absolute;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    * {
        transition: all 150ms ease-in-out;
    }
    @include desktop() {
        opacity: 0;
        top: 0;
        right: 10px;
    }
    @include mobile() {
        opacity: 1;
        top: 0;
        right: var(--gamecard-padding);
    }
    &:hover {
        .ribbonIcon .ribbon-fill {
            fill: rgba(0, 0, 0, 0.2);
        }
        .ribbonIcon .ribbon-stroke {
            fill: rgba(255, 255, 255, 0.4);
        }
    }

    .ribbonIcon {
        @include desktop() {
            width: 4.8em;
        }
        @include mobile() {
            width: 3.36em;
        }
        .heart-stroke {
            fill: white;
        }
        .heart-fill {
            fill: none;
        }
        .ribbon-fill {
            fill: rgba(0, 0, 0, 0.1);
        }
        .ribbon-stroke {
            fill: rgba(255, 255, 255, 0.1);
        }
    }
}

.details .cashbackRibbon {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: var(--cashback-color);
    font-size: 1.2em;
    font-weight: 800;
    color: black;

    @include desktop() {
        left: 0;
        bottom: calc(100% + var(--platform-height) + 10px);
    }
    @include mobile() {
        right: -58px;
        top: 55px;
    }
    .cashbackIcon {
        height: 1.2em;
        color: black;
    }
}
