@import "../app/styles/sassvars.scss";

:root {
    --icon-hover-color: #f9a53e;
    --navbar-height: 100px;
    --navbar-height3: 55px;
    --searchfield-font: 1.9rem;
}

#navbar {
    flex: 0 0 var(--navbar-height);
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: 20px var(--content-padding);
    height: var(--navbar-height);

    > * {
        height: 100%;
    }

    .navbar-icon {
        cursor: pointer;
        height: 24px;
        width: 24px;
    }
    .navbar-icon {
        @include hover-supported() {
            color: var(--icon-hover-color);
        }
    }

    #navbar-logo {
        > img {
            height: 100%;
        }
    }
}

.page-overlay {
    content: "";
    position: fixed;
    inset: 0; 
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

#searchbar {
    border: 1px solid white;
    flex: 1 0 0;
    display: flex;
    > * {
        height: 100%;
        cursor: text;
    }
    #searchfield {
        flex: 1 0 0;
        background: none;
        outline: none;
        border: none;
        color: white;
        font-size: var(--searchfield-font);
        font-weight: bold;
    }
    #search-icon {
        cursor: text;
        display: flex;
        align-items: center;
        padding: 0 var(--content-padding);
        svg {
            height: 24px;
            color: white;
        }
    }
    #clear-icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 var(--content-padding);
        svg {
            height: 16px;
            color: white;
        }
    }
}


@media (max-width: $mobile-breakpoint3) {
    :root {
        --navbar-height: var(--navbar-height3);
    }
    #navbar {
        padding: var(--content-padding);
    }
    #searchbar:not(.open) {
        margin-left: auto;
        flex: 0;
        border: none;
        > *:not(#search-icon) {
            display: none;
        }
        #search-icon {
            cursor: pointer;
            padding: 0;

            @include hover-supported() {
                > svg path {
                    stroke: var(--icon-hover-color);
                }
            }
        }
    }
    #searchbar.open {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border: none;
        height: var(--navbar-height);
        background-color: var(--bg-color);
    }
}
