@import "../app/styles/sassvars.scss";

:root {
    --gamecard-col-count: 4;
    --gap: var(--content-padding);
}

#resultcount {
    padding: var(--content-padding);
}

#resultlist {
    display: grid;
    padding: 0 var(--content-padding);
    grid-template-columns: repeat(var(--gamecard-col-count), 1fr);
    gap: var(--gap);
}

@media (max-width: $mobile-breakpoint3) {
    :root {
        --gamecard-col-count: 3;
    }
}

@media (max-width: $mobile-breakpoint1) {
    :root {
        --gamecard-col-count: 1;
    }
}
